@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: #F4F4F2;
  margin: 0;
  padding: 0;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  color: #495464;
  box-sizing: border-box;
}

a {
  color: #495464;
  font-size: 14px;
  font-weight: bold;
}

a:hover{
	color: #BBBFCA;
} */
@layer components {
	.btn {
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
	}
}
